@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input {
    @apply block w-full rounded-lg border-slate-300 bg-slate-50 px-3 py-2 text-slate-800 shadow-sm transition-all duration-200 ease-in-out;
    @apply focus:border-emerald-500 focus:ring-2 focus:ring-emerald-500 focus:ring-opacity-50;
  }
  .form-input-disabled {
    @apply block w-full cursor-not-allowed rounded-lg border-slate-300 bg-slate-200 px-3 py-2 text-slate-500 shadow-sm;
  }
  .form-radio {
    @apply h-4 w-4 border-slate-300 text-emerald-600 focus:ring-emerald-500;
  }
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.styled-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* creates padding around scroll thumb */
  background-clip: content-box;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* color of the scroll thumb on hover */
}
